:root {
    --cor-primaria: #575757;
    --cor-secundaria: #868686;
    --cor-destaque: #f47fc1;
    --cor-de-fundo: #91c1fc;
    --azul-escuro-link: #003366;
    --cor-body: #333;
    --fonte-texto: "Jura", sans-serif;
    --fonte-titulo: "Roboto Mono", monospace;
    --cor-menu-lateral: #dcdcdc;

    --cor-painel-novidades: #f5dcdc;
    --cor-painel-mais-novidades: #dcdcf5;  
    --cor-painel-mais-novidades-gradient:#f4bebe;  
    --cor-painel-novidades-gradient: #bebef4; 
}

body {
    color: var(--cor-body);
    font-family: var(--fonte-texto);
}

.sacola {
    background: url(/img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: var(--azul-escuro-link)
}

.container {
    margin: 0 auto;
    width: 940px;
    /* border: 1px solid red; */
}

.busca,
.menu-departamentos {
    background-color: var(--cor-menu-lateral) ;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
    list-style: none;
}

.menu-departamentos a {
    color: var(--cor-primaria);
    text-decoration: none;
}

.busca- input[type=search] {
    width: 170px;
    vertical-align: middle;
}

.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
    clear: left;
}

.destaque {
    margin-top: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades {
    float: left;
}

.mais-vendidos {
    float: right;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #f5dcdc;
}

.mais-vendidos {
    background-color: #dcdcf5;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    margin: 2px;
    padding-bottom: 10px;
}

.novidades {
    background-color: var(--cor-painel-novidades);
}

.mais-vendidos {
    background-color: var(--cor-painel-mais-novidades);
}

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
    position: relative;
}

.social a {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="googleplus.com"] {
    background-image: url(../img/googleplus.png);
}

.social li {
    float: left;
    margin-left: 25px;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.menu-opcoes a:hover {
    color: #007dc6;
}


.menu-opcoes a:active {
    color: red;
}

.menu-departamentos li ul {
    display: none;
}

.menu-departamentos li:hover ul {
    display: block;
}

.menu-departamentos ul ul li {
    background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
    content: '- ';
}

.painel {
    border-radius: 10px;
    box-shadow: inset 1px 1px 4px #0a98fd;
}

.painel h2 {
    text-shadow: 3px 3px 2px;
    opacity: 50%;
}

.novidades {
    background-image: linear-gradient( var(--cor-painel-novidades), 
    var(--cor-painel-novidades-gradient))
   ;
}

.mais-vendidos {
    background-image: linear-gradient(var(--cor-painel-mais-novidades), 
    var(--cor-painel-mais-novidades-gradient))
   ;
}

.painel li:hover  {
    box-shadow: 0 0 10px var(--azul-escuro-link);
    transition: 1s ease-out;
    transform: scale(1.2) rotate(-5deg);
    background: var(--cor-painel-novidades);
}

.painel li:nth-child(2n):hover {
    transform: scale(1.2) rotate(5deg);
}